<br/><br/>
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="customer/create" class="btn btn-primary new">
        Create a new customer
      </a>
      <h2>Recent customer entries</h2>
      <p>There are
        <%= customers.query.length %> customers.
          <br/>
      </p>
      <% for (var i = customers.query.length-1; i >= 0; i--) {   
        customer = customers.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  customer._id %>
              <br> Email:
              <%=customer.email%>
                <br/> first:
                <%=customer.first%>
                  <br/> last
                  <%=customer.last%>
                    <br/>Street1
                    <%=customer.street1%>
                    <br/>Street2
                    <%=customer.street2%>
                    <br/>city
                    <%=customer.city%>
                    <br/>state
                    <%=customer.state%>
                    <br/>zip
                    <%=customer.zip%>
                    <br/>country
                    <%=customer.country%>
                    <br/>
                        <br/>
                          <br/>
                          <br/>
                          <a href="/customer/delete/<%= customer._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/customer/details/<%= customer._id %>" class="btn btn-info"> Details </a>
                          <a href="/customer/edit/<%= customer._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>